<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property='og:image' content='<%= image %>'>
    <meta name="twitter:image" content='<%= image %>'>
    <link rel='image_src' href='<%= image %>'>
    <link rel='stylesheet' href='/static/css/custom.css'>
    <title>Dixionary Images</title>
</head>
<body>
 <div class='container background'>
    <div class='child'>
      <a href="<%= image %>">
        <img src="<%= image %>">
      </a>
    </div>
 </div>
</body>

