<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Arturo Images">
    <meta property="twitter:title" content="Arturo Images">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= image %>">
    <meta property="twitter:image" content="<%= image %>">
    <meta property="og:description" content="Image hosting website">
    <link rel='image_src' href='<%= image %>'>
    <link rel='stylesheet' href='/static/css/style.css'>
    <title>Arturo Images</title>
</head>
<body>
    <div class="container">
        <a href="<%= image %>">
            <img src="<%= image %>">
        </span>
    </div>
</body>

